<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/style1.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <table>
            <tr>
                <th>
                    <img class="hinh" src="~/image/103707335_264022214870356_8820201439945863488_n.png"
                         alt="logo">
                </th>

                <th class="text">

                    <h3><b> CỤC THUẾ THÀNH PHỐ HỒ CHÍ MINH </b></h3>
                    <h3><b> CHI CỤC THUẾ KHU VỰC QUẬN 12 - HUYỆN HÓC MÔN</b></h3>
                </th>

            </tr>

        </table>

    </header>
    <div class="navbar navbar-inverse navbar-fixed">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                    <li>@Html.ActionLink("Tổng hợp danh bạ", "DanhBa", "Home")</li>
                    <li>@Html.ActionLink("Tiến độ MNLS", "TienDoMLNS", "Home")</li>
                    <li>@Html.ActionLink("Tiến độ CBQL", "TienDoCBQL", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <br />
            <p>Địa chỉ: số 282A Nguyễn Ảnh Thủ, phường Hiệp Thành, quận 12. Điện Thoại: 38917431.</p>
            <p>Bộ phận một cửa: số 90 Bà Triệu, xã Tân Xuân, huyện Hóc Môn.</p>
        </footer> 
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
